.cubes-container{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.cubes-container .bg{
    position: absolute;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*gap: 37px;*/
    gap: 32px;
    scale: 1.2;
    z-index: 1;
}
.cubes-row{
    position: relative;
    display: flex;
    gap: 90px;
    transform: scale(0.3);
}
.cubes-wrap{
    perspective: 17000px;
    perspective-origin: 50% -12000px;
    transform: scale(0.706);
}
.cubes-wrap:hover{
    cursor: pointer;
}
.cube {
    position: relative;
    width: 200px;
    transform-style: preserve-3d;
    transform: rotateY(45deg);
}
.cube div {
    position: absolute;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.3s all ease;
    z-index: 1;
}
.cube div .bx{
    font-size: 11rem;
    transition: 0.3s all ease;
}
.cube:not(.no-hover).hover div{
    background: var(--border) !important;
}
/*.cube:not(.no-hover).hover div,
.cube div.hover{
    width: 200px;
    height: 200px;
    overflow: unset;
}*/
.back {
    transform: translateZ(-100px) rotateY(180deg) translateY(150px);
}
.right {
    transform: rotateY(-270deg) translateX(100px) translateY(150px);
    transform-origin: top right;
}
.left {
    transform: rotateY(270deg) translateX(-100px) translateY(150px);
    transform-origin: center left;
}
.top {
    transform: rotateX(-90deg) translateY(-100px) translateZ(150px);
    transform-origin: top center;
    z-index: 5 !important;
}
.top .bx,
.top .icon{
    transform:rotateX(180deg);
    pointer-events: none;
}
.top .icon svg{
    width: var(--icon-size);
    height: var(--icon-size);
    object-fit: contain;
    stroke: var(--stroke);
}
.top .icon img{
    width: var(--icon-size);
    height: var(--icon-size);
    object-fit: contain;
}
.cube:not(.no-hover).hover .top{
    background: var(--cube-top) !important;
    transform: rotateX(-90deg) translateY(-100px) translateZ(0px);
}
.cube.second:not(.no-hover).hover .top{
    background: var(--cube-top) !important;
    transform: rotateX(-90deg) translateY(-100px) translateZ(50px);
}
.bottom {
    transform: rotateX(90deg) translateY(100px) translateZ(48px) scale(1);
    transform-origin: bottom center;
    z-index: 5 !important;
    background: var(--bg);
}
.no-hover .bottom{
    background: transparent;
}
.cube:not(.no-hover).hover .bottom{
    transform: rotateX(90deg) translateY(150px) translateZ(100px) scale(1.5);
    background: var(--cube-bottom) !important;
}
.front {
    transform: translateZ(100px) translateY(150px);
}

div.right,
div.left,
div.back,
div.front{
    height: 0px;
}

.cube:not(.no-hover).hover div.right,
.cube:not(.no-hover).hover div.left,
.cube:not(.no-hover).hover div.back,
.cube:not(.no-hover).hover div.front{
    height: 100px;
}

.cube.second:not(.no-hover).hover div.right,
.cube.second:not(.no-hover).hover div.left,
.cube.second:not(.no-hover).hover div.back,
.cube.second:not(.no-hover).hover div.front{
    height: 50px;
}

.cube:not(.no-hover).hover .front{
    transform: translateZ(100px) translateY(0px);
}
.cube:not(.no-hover).hover .back{
    transform: translateZ(-100px) rotateY(180deg) translateY(0px);
}
.cube:not(.no-hover).hover .left{
    transform: rotateY(270deg) translateX(-100px) translateY(0px);
}
.cube:not(.no-hover).hover .right{
    transform: rotateY(-270deg) translateX(100px) translateY(0px);
}

.cube.second:not(.no-hover).hover .front{
    transform: translateZ(100px) translateY(50px);
}
.cube.second:not(.no-hover).hover .back{
    transform: translateZ(-100px) rotateY(180deg) translateY(50px);
}
.cube.second:not(.no-hover).hover .left{
    transform: rotateY(270deg) translateX(-100px) translateY(50px);
}
.cube.second:not(.no-hover).hover .right{
    transform: rotateY(-270deg) translateX(100px) translateY(50px);
}

.cube div span{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}
.cube .top span::before,
.cube .top span::after,
.cube .front span::before,
.cube .front span::after,
.cube .left span::before,
.cube .left span::after{
    background: var(--cube-border);
    opacity: 0.5;
}
.cube:not(.no-hover).hover .top span::before,
.cube:not(.no-hover).hover .top span::after,
.cube:not(.no-hover).hover .front span::before,
.cube:not(.no-hover).hover .front span::after,
.cube:not(.no-hover).hover .left span::before,
.cube:not(.no-hover).hover .left span::after{
    background: var(--cube-border);
    opacity: 1;
}
.cube .top span::before,
.cube .top span::after{
    transition: 0.7s cubic-bezier(0.8, 0.7, 0.3, 0.2);
}
.cube .front span::before,
.cube .front span::after{
    transition: 0.7s cubic-bezier(0.2, 0.3, 0.7, 0.8);
}
.cube .left span::before,
.cube .left span::after{
    transition: 0.7s cubic-bezier(0.2, 0.3, 0.7, 0.8);
}
.top .first::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: var(--border);
    transform: scale(0.5);
}
.cube:not(.no-hover).hover .top .first::before{
    width: 200px;
    height: 18px;
    transform: scale(1);
}
.top .first::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: var(--border);
    transform: scale(0.5);
}
.cube:not(.no-hover).hover .top .first::after{
    width: 18px;
    height: 200px;
    transform: scale(1);
}

.top .second::before{
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: var(--border);
    transform: scale(0.5);
}
.cube:not(.no-hover).hover .top .second::before{
    width: 200px;
    height: 18px;
    transform: scale(1);
}
.top .second::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: var(--border);
    transform: scale(0.5);
}
.cube:not(.no-hover).hover .top .second::after{
    width: 200px;
    height: 18px;
    transform: scale(1);
}

.top .third::before{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: var(--border);
    transform: scale(0.5);
}
.cube:not(.no-hover).hover .top .third::before{
    width: 18px;
    height: 200px;
    transform: scale(1);
}
.top .third::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: var(--border);
    transform: scale(0.5);
}
.cube:not(.no-hover).hover .top .third::after{
    width: 18px;
    height: 200px;
    transform: scale(1);
}

.top .fourth::before{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: var(--border);
    transform: scale(0.5);
}
.cube:not(.no-hover).hover .top .fourth::before{
    width: 200px;
    height: 18px;
    transform: scale(1);
}
.top .fourth::after{
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: var(--border);
    transform: scale(0.5);
}
.cube:not(.no-hover).hover .top .fourth::after{
    width: 18px;
    height: 200px;
    transform: scale(1);
}


.front .first::before{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 18px;
    height: 0px;
    background: var(--border);
    transform: translateY(-200%);
}
.cube:not(.no-hover).hover .front .first::before{
    width: 18px;
    height: 200px;
    transform: translateY(0px);
}
.front .first::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 18px;
    height: 0px;
    background: var(--border);
    transform: translateY(-200%);
}
.cube:not(.no-hover).hover .front .first::after{
    width: 18px;
    height: 200px;
    transform: translateY(0px);
}

.front .first::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 18px;
    height: 0px;
    background: var(--border);
    transform: translateY(-200%);
}
.cube:not(.no-hover).hover .front .first::after{
    width: 18px;
    height: 200px;
    transform: translateY(0px);
}


.left .first::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 18px;
    height: 0px;
    background: var(--border);
    transform: translateY(-200%);
}
.cube:not(.no-hover).hover .left .first::before{
    width: 18px;
    height: 200px;
    transform: translateY(0px);
}
.left .first::after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 18px;
    height: 0px;
    background: var(--border);
    transform: translateY(-200%);
}
.cube:not(.no-hover).hover .left .first::after{
    width: 18px;
    height: 200px;
    transform: translateY(0px);
}


/*
.cubes-row:nth-child(-n+4) .cube div span::before,
.cubes-row:nth-child(-n+4) .cube div span::after,
.cubes-row:nth-child(-n+4) .cube:not(.no-hover).hover .bottom{
    background: var(--border-2) !important;
}

.cubes-row:nth-child(n+5) .cube div span::before,
.cubes-row:nth-child(n+5) .cube div span::after,
.cubes-row:nth-child(n+5) .cube:not(.no-hover).hover .bottom{
    background: var(--border) !important;
}
    */



#custom-cursor {
    width: 80px; /* Ancho configurable */
    height: 80px; /* Ancho configurable */
    position: fixed;
    pointer-events: none;
    transition: width 0.2s, height 0.2s;
}
